body {
	margin: 0;
	font-family: 'Inter';
	background-color: black;
	color: white;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@font-face {
	font-family: 'Inter';
	src: url('/inter.otf');
}
