@import url(https://unpkg.com/blocks.css/dist/blocks.min.css);

/* dark mode colors */
:root {
	--background: black;
	--foreground: white;
}

/* light mode colors */
@media (prefers-color-scheme: light) {
	:root {
		--background: white;
		--foreground: black;
	}
}

html,
body {
	margin: 0;
	font-family: 'Inter';
	background-color: var(--background);
	color: var(--foreground);
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

a,
a:visited {
	color: rgb(0, 119, 255);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	font-size: clamp(35px, 4vw, 5rem);
}

h2 {
	font-size: clamp(20px, 3vw, 1.8rem);
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/inter.otf');
}

@font-face {
	font-family: 'Space Mono';
	src: url('/fonts/spacemono-italic.ttf');
	font-style: italic;
}
