@import url(https://unpkg.com/blocks.css/dist/blocks.min.css);

/* dark mode colors */
:root {
	--background: black;
	--foreground: white;
}

/* light mode colors */
@media (prefers-color-scheme: light) {
	:root {
		--background: white;
		--foreground: black;
	}
}

body {
	margin: 0;
	font-family: 'Inter';
	background-color: var(--background);
	color: var(--foreground);
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

a,
a:visited {
	color: rgb(0, 119, 255);
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/inter.otf');
}
